@use '../../../styles/mixins' as mx;
@use '../../../styles/vars' as v;

.header {
  display: flex;
  flex-direction: row;
  position: fixed;
  width: 100%;
  height: 60px;
  background-color: v.$accent-color;

  z-index: 10;
}
