@use '../../../styles/mixins' as mx;
@use '../../../styles/vars' as v;

.card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  border: 1px solid v.$dark-primary-color;
  border-radius: 1rem;
  padding: 1rem;
}

.card_info {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 0.5rem;
}

.card_photo {
  @include mx.flex-center;
  display: flex;
  width: 50%;
}

.card__image {
  height: 30vh;
  object-fit: contain;
}

.card__btn {
  max-width: 220px;

  &:hover {
    background-color: v.$accent-color;
  }
}
