@use '../../../styles/mixins' as mx;
@use '../../../styles/vars' as v;

.page {
  display: flex;
}

.logo {
  font-size: 3.2em;
  line-height: 1.1;
}

.container {
  @include mx.wrapper(80%);
  flex-direction: column;
  padding: 5rem 3rem;

  transition: ease 0.2s;
}
